[submodule "BitArray/lib/googletest"]
	path = BitArray/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "Game_Live/lib/googletest"]
	path = Game_Live/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "Game_Live/lib/SDL"]
	path = Game_Live/lib/SDL
	url = https://github.com/libsdl-org/SDL.git