[submodule "lab1a/lib/googletest"]
	path = lab1a/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lab2a/lib/googletest"]
	path = lab2a/lib/googletest
	url = https://github.com/google/googletest.git

[submodule "lab2a/lib/SDL"]
	path = lab2a/lib/googletest
	url = https://github.com/libsdl-org/SDL.git